@model PetSit.Models.PetSitter

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PetSitter</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.offeredServices)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.offeredServices)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.availability)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.availability)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rating)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PetSitterID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
